*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.container {
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
  color:#fff;
  /* background-color: rgb(52, 52, 52); */
  background-image: linear-gradient(to right, #010c1b, #124485,#1d61ba,#1469d7, #0081CF,#0089BA,#008E9B,#008F7A);
}

.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 300px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 100px;
}

.logoimg {
  width: 120px;
}

.logo{
  font-size: 40px;
  font-family: cheque;
  color: #fff;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
}
.bars:hover{
  color: rgb(166, 255, 0);
}

.link {
  display: flex;
  color: #fff;
  padding: 25px 35px;
  gap: 30px;
  transition: all 0.5s;
}

.link:hover {
  background: rgb(52, 52, 52);
  color: rgb(166, 255, 0);
  transition: all 0.5s;
}

.active{
  background: rgb(52, 52, 52);
  color: #fff;
}

.icon, .link_text {
  font-size: 20px;
}