/* Home.css */

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
  }
  
  .navbar__logo img {
    height: 50px;
  }
  
  .navbar__links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
  }
 
  /* Body styles */
  .body {
    text-align: center;
    padding: 50px;
    height: 100vh;
    /* background-color: rgb(57, 57, 57); */
    background-image: url("homebgnew.jpg");
    /* linear-gradient(to right, rgb(223, 92, 252) , rgb(105, 234, 251)); */
    background-size:cover; 
    background-repeat: no-repeat; 
    background-position:top;
 }
  
  .body h1 {
    font-size: 36px;
    color:white;
    margin-top: 0;
  }
  .body h2{
    color:seashell;
  }
  
  .body p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
  }
  
  .get-started-button {
    
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .get-started-button:hover {
    background-color: #0056b3;
  }
  
  .not-found-container {
    text-align: center;
  }
  
  .not-found-image {
    width: 800px;
    height: 600px;
    margin-top: 20px; 
  }
  
  